anyio==4.6.0
boto3==1.35.7
botocore==1.35.8
certifi==2024.7.4
charset-normalizer==3.3.2
decorator==4.4.2
exceptiongroup==1.2.2
filelock==3.16.1
fsspec==2024.9.0
gradio_client==1.3.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
huggingface-hub==0.25.1
idna==3.8
imageio==2.35.1
imageio-ffmpeg==0.5.1
jmespath==1.0.1
moviepy==1.0.3
numpy==2.1.0
opencv-python==4.10.0.84
packaging==24.1
pillow==10.4.0
proglog==0.1.10
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
s3transfer==0.10.2
six==1.16.0
sniffio==1.3.1
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.2
websockets==12.0
